.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}
.textoCentro {
  margin-top: 1.5rem !important;
  line-height: 1.2;
  font-style: normal;
  padding: 0px;
}
.mRow{
  margin-right: 1px;
}
.featureSvg {
  height: 200px;
  width: 200px;
}
.noPadding {
  padding: 20px;
}
.ml10 {
  margin-right: 10px;
}
.appLogo {
  height: 10vmin;
  border-radius: 200px;
  pointer-events: none;
}
.appLogoQuadrado {
  height: 10vmin;
  pointer-events: none;
}
.appBody {
  min-height: auto;
  margin-top: 25px;
}
.textTitle {
  font-weight: bold;
  color: #2e8555;
  font-family: sans-serif;
  font-size: calc(10px + 2vmin) !important;
}
.textTitle2{
  font-weight: bold;
  color: #2e8555;
  font-family: sans-serif;
  font-size: calc(5px + 2vmin) !important;
  margin-top: 1.5rem !important;
  font-style: normal;
}
.textSubTitle2{
  font-weight: bold;
  color: #2e8555;
  font-family: sans-serif;
  font-size: calc(5px + 2vmin) !important;
  margin-top: 1.5rem !important;
  line-height: 4.2;
  font-style: normal;
}

.textSubtitle {
  font-weight: bold;
  color: #2e8555;
  font-family: sans-serif;
}
.marginL{
  margin:2px
}
.marginFind{
  margin:5px
}

.textSubtitleGray {
  font-weight: bold;
  color: #aeaeae;
  font-family: sans-serif;
  font-size: calc(8px + 1vmin) !important;
}
.bolaAmarela {
  border-radius: 50%;
  display: inline-block;
  height:25px;
  width: 25px;
  margin-right: 5px;
  border: 1px solid #000000;
  background-color: #adaf2e;
}
.bolaPreta {
  border-radius: 50%;
  display: inline-block;
  height: 25px;
  margin-right: 5px;
  width: 25px;
  border: 1px solid #000000;
  background-color: #000000;
}
.styleHr {
  height: 10px;
  width: auto;
  border-style: solid;
  border-color: #3d619d;
  border-width: 0 0 5px 0;
  border-radius:2px;
}

.App-conteudo {
  min-height: auto;
  font-size: calc(5px + 2vmin);
}

.App-nav {
  background-color: #486b8f;
  margin-left: 5px;
  padding-left: 10px;
  width: 25%;
  display: flex;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}